input, textarea, select {
    font: 400 var(--fs-sm)/125% var(--ff-poppins);
    appearance: none;
    color: var(--text-primary);
    padding: 1.2rem 1.6rem;
    margin-top: .4rem;
    width: 100%;
    border: 1px solid var(--stroke-default);
    outline: 2px solid transparent;
    border-radius: .8rem;

    &::placeholder {
        color: var(--text-tertiary);
    }

    &:focus, input[type="date"]:focus-within {
        border-color: var(--stroke-highlight);
        outline-color: var(--surface-secondary);
    }
}

input[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::before {
        content: "";
        background: url(../assets/icons/calendar-03.svg) no-repeat 100%/cover;
        width: 2.2rem;
        height: 2.2rem;
        position: absolute;
        right: 1.6rem;
    }
}

select {
    background: url(../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1.6rem);

    &:focus {
        background: url(../assets/icons/arrow-top-01.svg) no-repeat calc(100% - 1.6rem);
    }
}

label {
    font: 400 1.4rem/150% var(--ff-poppins);
    color: var(--text-secondary);
}

input {
    &[disabled] {
        background-color: var(--surface-disabled);
        color: var(--text-secondary);
        opacity: 50%;
    }

    & + small {
        display: inline-block;
        color: #78716C;
        font: 400 1.4rem/140% var(--ff-poppins);
        margin-top: .4rem;
    }
    
    &:invalid {
        outline-color: var(--semantic-error);
    }

    &:not(:focus):valid + .error {
        display: none;
    }
}